
body {
  font-family: Arial, sans-serif;
  background-image: url("img.jpeg");
  margin: 0;
  padding: 0;
}

.con {
  max-width: 600px;
  margin: 100px auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 300px;
}


h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.input {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  margin-bottom: 0.5rem;
  padding: 0.7rem 1rem;
  border-radius: 5px;
}

li.completed {
  text-decoration: line-through;
  background-color: #d4edda;
}

.actions button {
  margin-left: 10px;
}
